/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
   box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html, body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
 
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/* === END OF CSS RESET === */

:root {
   --primary: linear-gradient(to bottom right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
   --neutral-200: hsl(240, 78%, 98%);
   --neutral-400: hsl(234, 14%, 74%);
   --neutral-600: hsl(233, 13%, 49%);
   --neutral-800: hsl(232, 13%, 33%);
}

body {
   font-family: 'Montserrat', sans-serif;
   background-color: var(--neutral-200);
   text-align: center;
   background-image: url(./images/bg-top.svg);
   background-repeat: no-repeat;
   background-position: top -50px right -200px;
}

main {
   padding-inline: 25px;
}

h1 {
   padding-block: 50px;
   color: var(--neutral-600);
}

/* TOGGLE SECTION  */

.toggle-section {
   color: var(--neutral-400);
   display: flex;
   gap: 25px;
   justify-content: center;
   align-items: center;
   margin-bottom: 70px;
}

/* SLIDER */

.switch {
   position: relative;
   display: inline-block;
   width: 60px;
   height: 34px;
}

.switch input {
   opacity: 0;
   width: 0;
   height: 0;
}

.slider {
   position: absolute;
   cursor: pointer;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background: var(--primary);
   transition: .4s;

   border-radius: 34px;
}

.slider:hover {
   opacity: .6;
}

.slider::before {
   position: absolute;
   content: "";
   height: 26px;
   width: 26px;
   left: 4px;
   bottom: 4px;
   background-color: white;
   transition: .4s;
   border-radius: 50%;
}

input:checked + .slider::before {
   -webkit-transform: translateX(26px);
   -ms-transform: translateX(26px);
   transform: translateX(26px);
}

/* PRICING COMPONENTS SECTION  */

.pricing-components-section {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 25px;
}

@media screen and (min-width: 1000px) {
   body {
      background-image: url(./images/bg-top.svg), url(./images/bg-bottom.svg);
      background-position: top right, bottom left;
   }
   .pricing-components-section {
      flex-direction: row;
      justify-content: center;
   }
   .pricing-component.accent {
      
   }
}

/* PRICING COMPONENT */

.pricing-component {
   margin-bottom: 25px;
   color: var(--neutral-600);
   font-size: 0.9rem;
   background-color: white;
   padding: 30px;
   border-radius: 15px;
   width: 325px;

   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.pricing-component .monthly {
   display: none;
}

.show-monthly .pricing-component .monthly{
   display: block;
}

.show-monthly .pricing-component .annualy {
   display: none;
}

.pricing-option {
   font-size: 1.1rem;
   margin-bottom: 20px;
}

.price {
   color: var(--neutral-800);
   font-size: 2rem;
   margin-bottom: 25px;

   display: flex;
   justify-content: center;
   align-items: center;
   gap: 8px;
}

.price-value { 
   font-size: 3.5rem;
}

.storage, .users-allowed, .upload {
   padding-block: 15px;
}

hr {
   opacity: .3;
}

.pricing-component button {
   cursor: pointer;
   margin-top: 30px;
   color: white;
   width: 100%;
   padding: 15px;
   background: hsl(236, 72%, 79%);
   border: 1px solid hsl(236, 72%, 79%);
   border-radius: 10px;
   text-transform: uppercase;
   letter-spacing: 2px;
   font-size: 0.8rem;
   transition: all .4s;
}

.pricing-component button:hover {
   background: linear-gradient(to bottom right, hsla(236, 72%, 79%, 0), hsla(237, 63%, 64%, 0));
   color: hsl(237, 63%, 64%);
   border: 1px solid black;
}

/* PRICING COMPONENT ACCENTED  */

.pricing-component.accent {
   color: white;
   background: var(--primary);
}

.pricing-component.accent .price {
   color: white;
   margin-bottom: 25px;
}

.pricing-component.accent button {
   background: white;
   color: hsl(237, 63%, 64%);
   transition: .4s;
}

.pricing-component.accent button:hover {
   border: 1px solid white;
   background: rgba(255, 255, 255, 0);
   color: white;
}

@media screen and (min-width: 1000px) {
   .pricing-component.accent .pricing-option {
      padding-top: 20px;
   }
   .pricing-component.accent button {
      margin-bottom: 20px;
   }
}

